.fonty{
	font-family: 'Roboto Slab', serif;
	font-family: 'Glegoo', serif;
	font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	color: grey;
	font-family: 'Roboto Slab', serif;
}

body{
	background-color: whitesmoke;
}


.debug{
	background-color: yellow;
	border: 1px solid black;
}




/*	Aplikacja */

  




  
  .projekt{

		width: 300px;
		padding: 10px;
		margin: 10px;
		
		line-height: 1em;
	border: 1px solid white;
	border-radius: 2px;
	text-align:left;
	display:block;
/*	display:inline-block; 
	vertical-align: top;
	*/
	background-color: white;
	float: left;
	box-shadow: 0px 2px 5px 0px lightgrey;

font-family: 'Roboto Slab', serif;
  }
  
  
  .projekt {
	  	font-family: 'Lato', sans-serif;
		border-bottom: 1px dotted lightgrey;
		padding-bottom: 6px;
  }
  
  .projekt input[type="text"]{
	border-width:0px;
	border:none;
	width: 180px;
}
  
.przycisk{
	paddding: 3 px;
	display:inline-block;
	min-width: 1em;
	min-height: 11px;
	text-align: center;
}
 
  
.zadanie-stan, .zadanie-tresc, .zadanie-opcje{
	display: inline-block;

}

.zadanie-stan{

		flex: 0 0 10px;
}


.zadanie-tresc{

	flex: 1 1 auto;
}

.zadanie-opcje{
	
		flex: 0 0 3em;
		text-align: right;
}
  
  
 .zadanie{
	margin: 0px 5px 0px 5px;
    padding: 7px;
    font-size: 1em;
	line-height: 1.2em;
	
	display: block;
	background-color: white;
	 border: 1px solid white;
	border-bottom: 1px solid whitesmoke;
	transition: border 0s;
	text-align:left;
 }  
	.zadanie > div{
		    display: -webkit-flex;
    display: flex;
	
	}
  
  
  .zadanie:hover {
	transition: border 0s;
	border-bottom: 1px solid #00D9D9;
  }
  
  .projekt, .zadanie-tresc{
	 word-break: break-word;
	-webkit-hyphens: auto;
	-ms-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto;
  }

  
  #generator{
	  width:100%;
	  height: 500px;
	  text-align:center;
  }
  
  .zakonczone{
	  color: #00D9D9;
  }
  
 .tresc{
	 margin: 0px 5px 0px 5px;
    padding: 7px;
    font-size: 1em;
	line-height: 1,2em;
    width: 250px;
	display: block;
	background-color: white;
	 border: 1px solid white;
	border-bottom: 1px solid lightgrey;
	transition: border 0s;
	text-align:left;
 }
 .tresc > *{
	 vertical-align:top;
	 display:inline-block;
	 padding-left: 6px;

	 
 }
 .poziom1 {
	 padding-left: 25px;
 }
 .poziom2{
	 padding-left: 50px;
 }
 
 .pozniejsze{
	 color: silver;
 }
 



[data-poziom="1"]{
	padding-left: 20px;

}
[data-poziom="2"]{
	padding-left: 40px;

}
a{
	color: #00D9D9;
}

a[ng-click]{
    cursor: pointer;
}
.noweZadanie{
	 font-family: 'Lato', sans-serif;

}
.nowyProjekt{
	font-family: 'Roboto Slab', serif;
}

.bocznyPanel{

	background-color:white;
	position: absolute;
	top: 50px;
    right: 0;
	height: 100%;
	width: 300px;
	box-shadow: 0px 2px 5px 0px lightgrey;
	padding: 20px;
}


/*	Marketing */


    .karta{
	width: 300px;
	padding: 10px;
	margin: 10px;
		
	line-height: 1em;
	border: 1px solid white;
	border-radius: 2px;
	text-align:left;
	display:inline-block;
/*	display:inline-block; 
	vertical-align: top;
	*/
	background-color: white;
	float: left;
	box-shadow: 0px 2px 5px 0px lightgrey;

	font-family: 'Roboto Slab', serif;
	z-index:2;
	text-align: center;
  }
   .wysokosc{
	   height: 300px;
   }
   .szerokosc{
	   width:100%;
	   margin:0px;
	   	text-align: center;
   }
   .tlo{
		height: 150px;
		width: 100%;
		z-index: -1;
		background-color: #3eddd6;
		position: relative;
		left: 0px;
		top: 0px;
		text-align: center;
   }
   

   
td{
	width: 60px;
}

.termin{
	
}

.poziom1{
	color: #00AAAA;
}

.poziom2{
	color: silver;
}



.ukryj{
	display:none;
}