

.alpha{
    border-color: yellowgreen;
}
.omega{
    border-color: #4A83A7;
}
.blok {
    display: inline-block;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    box-shadow: 2px 3px 5px lightgrey;
    border: 1px solid transparent;
    background-color: white;
}
.blok:hover{
    border: 1px solid transparent;
    box-shadow: 4px 6px 10px lightgrey;
}

.tw-tablica{
    color: turquoise;
}

input[type="textarea"], button{
    background-color: transparent;
    border-width: 0px;
    border-color: transparent;
}
input[type="text"]{
    background-color: transparent;
    border-width: 0px;
    border-color: transparent;
    border-bottom: 1px dotted lightgray;
}

/* Ustawienia wyswietlania projektów w tablicy*/

.tablica{
    display:inline-block;
}

.wiersz{
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
}
.kolumna{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
}
.wrap{
    flex-wrap: wrap;
}
.nowrap{
    flex-wrap: nowrap;
}

/* Karty projektów i zadania */

.projekt{
    width: 300px;
    margin-right: 15px;
    background-color: white;
    line-height: 130%;
    font-family: 'Lato', sans-serif;
    margin-bottom: 24px;
}

.zadanie{
    border: 1px solid transparent;
    display: block;
    margin: -8px;
    margin-top: 0px;
    padding: 5px;
    padding-left:15px;
    line-height: 190%;
    position: relative;

}
.zadanie:hover{
    /* border: 1px solid silver; */
    box-shadow: 1px 3px 5px lightgrey;
    z-index: 3;
}

.poziom1{
    border: 1px solid transparent;
    padding-left: 12px;
}

.poziom2{
    border: 1px solid transparent;
    padding-left: 12px;
}
ul{
    border: 0px solid lightgrey;
    margin: 2px;
}
h1, h2, h3, h4, h5, h6, .slab {
	color: grey;
	font-family: 'Roboto Slab', serif;
}



body{
    background-color: whitesmoke;
    padding-top: 80px;
    font-family: 'Lato', sans-serif;
}

.tw-layout{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;
    background-color: whitesmoke;
}
.tw-panel{
    width: 100px;
    min-height: 600px;
    
    display: inline-flex;
    flex-direction: column;
}
.tw-nav{
    display: block;
    border-bottom: 3px solid yellow;
    height: 50px;
    
}
.tw-menu{
    background-color: white
}
.menu-button{
    display: block;
    min-height: 40px;
    padding: 10px;
}
.menu-button:hover{
    background-color: yellow;
}
.tablica-tytul{
    display: block;
    align: center;
    text-align:center;

}
.tablica-tytul:hover{
    color:teal;
}
.projekt-tytul{
	color: grey;
    font-family: 'Roboto Slab', serif;
    font-size: 17pt;
    line-height: 1.5;
    display: block;
    padding-right: 40px;
}
.projekt-tytul, .zadanie, .lamanie{
    word-break: break-word;
   -webkit-hyphens: auto;
   -ms-hyphens: auto;
   -moz-hyphens: auto;
   hyphens: auto;
 }

.ukryj {
    opacity: 0.5;
}
.ukryj:hover{
    opacity: 1;
}
.pasek{
    display: block;
    position: fixed;
    top: 0;
    height: 55px;
    width: 100%;
    background-color: white;
    padding: 15px;
    z-index: 10;
    box-shadow: 2px 3px 5px lightgrey;
    text-align: center;
}


.akcja{
    display: inline-block;
    padding: 2px 7px 2px 7px;
    border: 1px solid lightblue;
}
.ustawienie{
    display: inline-block;
    padding: 2px 7px 2px 7px;
    border-top: 1px solid white;
}
.ustawienie:hover{
    background-color: white;
}

projekt{
    flex-direction: row;
}
.srodek{
    text-align: center;
}
.pelnyblok{
    display: block;
    padding-left: 15px;
    padding-right: 15px;
    z-index: 1;
}
.doprawej{
    position: absolute;
    right: 10px;
    top: 10px;
    opacity: 0.3;
}
.doprawej:hover{
    opacity: 1;
}

.static{
    position: relative;
}

.blur{
    filter: blur(3px);
    opacity: 0.4;
}



/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 11; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(160, 160, 160); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 500px; /* Could be more or less, depending on screen size */
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

img{
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    margin: -2px;
}

a{
    text-decoration: none!important;
}

/* Elementy paska postepu */
.postep{
    display:block; height: 5px; margin-top:5px; background-color: whitesmoke;
}
.procent{
    display:inline-block; height: 5px; background-color: yellow; 
}

/* ukrywanie zadan */
.wylacz{
    display: none;
}

.naglowek{
	color: grey;
    font-family: 'Lato', sans-serif;
    padding-left: 12px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 10px;
}

.footer{
    display: block;
    position: fixed;
    bottom: 0;
    height: 60px;
    width: 100%;
    background-color:whitesmoke;
    padding: 15px;
    z-index: -4;
    text-align: right;
    /*box-shadow: 1px 2px 2px #969696 inset;*/
}

.ustawienia{
    z-index: 7;
    box-shadow: 2px 3px 5px lightgrey;
    display: flex;
    justify-content: center;
    padding-bottom: 5px;
    font-size: 14px;
}
.osobno{
    margin-right: 0px;
    margin-bottom: 10px;
}
.wyrownaj{
    width: 170px;
    display:inline-block;
    text-align: left;
}