body{
    background-color: #323232;
}

.alpha{
    border-color: yellowgreen;
}
.omega{
    border-color: #4A83A7;
}
.blok {
    display: inline-block;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    box-shadow: 2px 3px 5px lightgrey;
    border: 0px solid silver;
    background-color: white;
}

.tw-tablica{
    color: turquoise;

}

input[type="textarea"], button{
    background-color: transparent;
    border-width: 0px;
    border-color: transparent;
}
input[type="text"]{
    background-color: transparent;
    border-width: 0px;
    border-color: transparent;
    border-bottom: 1px dotted lightgray;
}

.tablica{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    padding-top: 15px;
    
}

.projekt{
    width: 300px;
    margin-right: 15px;
    background-color: white;
}

.zadanie{
    display: inline-block;
    padding: 5px;
    padding-left:15px;
}


.poziom1{
    border: 1px solid transparent;
    padding-left: 12px;
}

.poziom2{
    border: 1px solid transparent;
    padding-left: 12px;
}