<div class="blok projekt" ng-class="{alpha:$first, omega:$last}" data-projektid="{{p.projekt_id}}" ng-click="edytujProjekt(p.projekt_id)" ng-mouseenter="pokazAkcje(p.projekt_id)">   
        <span  class="projekt-tytul"> Dodaj projekt</span>
        <hr>
        <zadanie-nowe>?</zadanie-nowe>
</div>