<div class="blok projekt static" ng-class="{alpha:$first, omega:$last}" data-projektid="{{p.projekt_id}}" ng-mouseenter="pokazAkcje(p.projekt_id)">   
	<div ng-click="edytujProjekt(p.projekt_id)" style="min-height: 55px; display: block;">
		<div  class="projekt-tytul" > {{p.projekt_tresc}}</div>
		<div class="doprawej">
			<img class="ukryj" ng-src="{{p.projekt_priorytet == '1' && 'images/icons/priorytet-tak.gif' || 'images/icons/priorytet-nie.gif'}}" ng-click="zmienPriorytet(p.projekt_id)"><br>
			<img class="ukryj" src="images/icons/opcje-2.gif">
		</div>	
		<div ng-if="p.projekt_termin != null" class="ukryj" style="display:inline-block!important">
			<br><img src="images/icons/kalendarz-1.gif">{{p.projekt_termin}}
		</div>

		<!-- Progressbar-->
	</div>
	<!-- 1. poziom zadan -->
	<div class="postep" ng-click="edytujProjekt(p.projekt_id)" >
			<div class="procent" style="width: {{p.liczba_zadan_skonczonych / p.liczba_zadan*100}}%">
				
			</div>
		</div>
	<div ng-repeat="z1 in zadania | filter: {projekt_id: p.projekt_id} | filter: {zadanie_rodzic: 0} | orderBy:'zadanie_kolejnosc'">
			
			<div class="zadanie" ng-class="{alpha:$first, omega:$last}" data-zadanieid="{{z1.zadanie_id}}" data-poziom="{{z1.poziom}}" ng-click="edytujZadanie(z1.zadanie_id)">
					
				<img ng-show="z1.zadanie_typrodzica=='r'" ng-src="{{z1.zadanie_stan == 1 && 'images/icons/r-zielone-zrobione.gif' || 'images/icons/r-szare.gif'}}" ng-click="zadanieZmianaStanu(z1.zadanie_id)">
			
				<img ng-show="z1.zadanie_typrodzica=='s'" ng-src="{{z1.zadanie_stan == 1 && 'images/icons/s-zielone-zrobione.gif' || 'images/icons/s-szare.gif'}}" ng-click="zadanieZmianaStanu(z1.zadanie_id)">
			
				
				<div style="display: inline-block">
					{{z1.zadanie_tresc}}
				</div>
				<div style="display: inline-block; position:absolute; right:0">
					<!-- 
					<button class="akcja ukryj" ng-click="zadanieUsun(z1.zadanie_id)">
							x
						</button> -->
					<!-- stoper-->
					<img class="ukryj" ng-if="z1.zadanie_krotkie == '1'" ng-src="{{z1.zadanie_krotkie == '1' && 'images/icons/stoper-2.gif' || 'images/icons/stoper-1.gif'}}" ng-click="zmianaKrotkich(z1.zadanie_id)">
				</div>
					<!-- podpoziom -->
			
					<div ng-hide="user.ukryj_poziomy === 3">
						<div ng-repeat="z2 in zadania | filter: {projekt_id: p.projekt_id} | filter: {zadanie_rodzic: z1.zadanie_id} | filter: {poziom: 1} | orderBy:'zadanie_kolejnosc'">
								
						<div class="zadanie" ng-class="{alpha:$first, omega:$last}" data-zadanieid="{{z2.zadanie_id}}" data-poziom="{{z2.poziom}}" ng-click="edytujZadanie(z2.zadanie_id)">
								
						<img ng-show="z2.zadanie_typrodzica=='r'" ng-src="{{z2.zadanie_stan == 1 && 'images/icons/r-zielone-zrobione.gif' || 'images/icons/r-szare.gif'}}" ng-click="zadanieZmianaStanu(z2.zadanie_id)">
					
						<img ng-show="z2.zadanie_typrodzica=='s'" ng-src="{{z2.zadanie_stan == 1 && 'images/icons/s-zielone-zrobione.gif' || 'images/icons/s-szare.gif'}}" ng-click="zadanieZmianaStanu(z2.zadanie_id)">
					
						
						<div style="display: inline-block">
							{{z2.zadanie_tresc}}
						</div>
						<div style="display: inline-block; position:absolute; right:0">
							
							<!-- 
							<button class="akcja ukryj" ng-click="zadanieUsun(z2.zadanie_id)">
									x
								</button>
							-->
							<!-- stoper-->
							<img class="ukryj" ng-src="{{z2.zadanie_krotkie == '1' && 'images/icons/stoper-2.gif' || 'images/icons/stoper-1.gif'}}" ng-click="zmianaKrotkich(z2.zadanie_id)">
						</div>
						<!-- Podpoziom 2 -->



						
						<div ng-hide="user.ukryj_poziomy === 2">
							<div ng-repeat="z3 in zadania | filter: {projekt_id: p.projekt_id} | filter: {zadanie_rodzic: z2.zadanie_id} | filter: {poziom: 2} | orderBy:'zadanie_kolejnosc'">
									
							<div class="zadanie" ng-class="{alpha:$first, omega:$last}" data-zadanieid="{{z3.zadanie_id}}" data-poziom="{{z3.poziom}}" ng-click="edytujZadanie(z3.zadanie_id)">
									
							<img ng-show="z3.zadanie_typrodzica=='r'" ng-src="{{z3.zadanie_stan == 1 && 'images/icons/r-zielone-zrobione.gif' || 'images/icons/r-szare.gif'}}" ng-click="zadanieZmianaStanu(z3.zadanie_id)">
						
							<img ng-show="z3.zadanie_typrodzica=='s'" ng-src="{{z3.zadanie_stan == 1 && 'images/icons/s-zielone-zrobione.gif' || 'images/icons/s-szare.gif'}}" ng-click="zadanieZmianaStanu(z3.zadanie_id)">
						
							
							<div style="display: inline-block">
								{{z3.zadanie_tresc}}
							</div>
							<div style="display: inline-block; position:absolute; right:0">
								<!-- 
								<button class="akcja ukryj" ng-click="zadanieUsun(z3.zadanie_id)">
										x
									</button>
									-->
								<!-- stoper-->
								<img class="ukryj" ng-src="{{z3.zadanie_krotkie == '1' && 'images/icons/stoper-2.gif' || 'images/icons/stoper-1.gif'}}" ng-click="zmianaKrotkich(z3.zadanie_id)">
							</div>




								<div ng-hide="user.ukryj_poziomy === 1">
									<div ng-repeat="z4 in zadania | filter: {projekt_id: p.projekt_id} | filter: {zadanie_rodzic: z3.zadanie_id} | orderBy:'zadanie_kolejnosc'">
											
										<div class="zadanie" ng-class="{alpha:$first, omega:$last}" data-zadanieid="{{z4.zadanie_id}}" data-poziom="{{z4.poziom}}" ng-click="edytujZadanie(z4.zadanie_id)">
												
											<img ng-show="z4.zadanie_typrodzica=='r'" ng-src="{{z4.zadanie_stan == 1 && 'images/icons/r-zielone-zrobione.gif' || 'images/icons/r-szare.gif'}}" ng-click="zadanieZmianaStanu(z4.zadanie_id)">
										
											<img ng-show="z4.zadanie_typrodzica=='s'" ng-src="{{z4.zadanie_stan == 1 && 'images/icons/s-zielone-zrobione.gif' || 'images/icons/s-szare.gif'}}" ng-click="zadanieZmianaStanu(z4.zadanie_id)">
										
											
											<div style="display: inline-block">
												{{z4.zadanie_tresc}}
											</div>
											<div style="display: inline-block; position:absolute; right:0">
												<!-- 
												<button class="akcja ukryj" ng-click="zadanieUsun(z4.zadanie_id)">
														x
													</button>
												-->
												<!-- stoper-->
												<img class="ukryj" ng-src="{{z4.zadanie_krotkie == '1' && 'images/icons/stoper-2.gif' || 'images/icons/stoper-1.gif'}}" ng-click="zmianaKrotkich(z4.zadanie_id)">s
											</div>
										</div>
							
								 <!-- podpoziom - koniec-->
							</div>

						</div>


							</div>
						
							 <!-- podpoziom - koniec-->
						</div>

					</div>


					</div>
					 <!-- podpoziom - koniec-->
				</div>
			</div>
					<!-- 1. poziom zadan-->
			</div>
		</div><!-- koniec repeatów --> 
		


<!-- 1. podpoziom koniec-->
</div>