<div ng-repeat="e in projekty | filter: {tablica_id: 1} | filter: {projekt_id: edytowanyProjekt} : true" style="display:block" >
        <Br>
{{edytowanyProjekt}}<br>
<br>
{{e.projekt_id}} - {{e.projekt_tresc}}

<hr>



<span  class="projekt-tytul"> {{e.projekt_tresc}}</span>
<img class="ukryj" ng-src="{{e.projekt_priorytet == '1' && 'images/icons/priorytet-tak.gif' || 'images/icons/priorytet-nie.gif'}}" ng-click="zmienPriorytet(e.projekt_id)">
                
<br>

<button class="akcja ukryj" ng-click="edytujProjekt(e.projekt_id)">
        edytuj
</button>
<button class="akcja ukryj" ng-click="projektUsun(e.projekt_id)">
        usun
</button>
<button class="akcja ukryj" >
                zakoncz
        </button>
<button class="akcja ukryj" ng-click="projektTypDzieci(e.projekt_id)">
                dzieci
        </button>

<!-- Progressbar-->

<div class="postep">
        <div class="procent" style="width: {{e.liczba_zadan_skonczonych / e.liczba_zadan*100}}%">
                
        </div>
</div>

<!-- 1. poziom zadan -->

<div ng-repeat="z1 in zadania | filter: {projekt_id: e.projekt_id} | filter: {zadanie_rodzic: 0} | orderBy:'zadanie_kolejnosc'">
                
                <div class="zadanie" ng-class="{alpha:$first, omega:$last}" data-zadanieid="{{z1.zadanie_id}}" data-poziom="{{z1.poziom}}" ng-click="edytujZadanie(z1.zadanie_id)">
                                
                        <img ng-show="z1.zadanie_typrodzica=='r'" ng-src="{{z1.zadanie_stan == 1 && 'images/icons/r-zielone-zrobione.gif' || 'images/icons/r-szare.gif'}}" ng-click="zadanieZmianaStanu(z1.zadanie_id)">
                
                        <img ng-show="z1.zadanie_typrodzica=='s'" ng-src="{{z1.zadanie_stan == 1 && 'images/icons/s-zielone-zrobione.gif' || 'images/icons/s-szare.gif'}}" ng-click="zadanieZmianaStanu(z1.zadanie_id)">
                
                        
                        <div style="display: inline-block">
                                {{z1.zadanie_tresc}}
                        </div>
                        <div style="display: inline-block; position:absolute; right:0">
                                <button class="akcja ukryj" ng-click="zadanieUsun(z1.zadanie_id)">
                                                x
                                        </button>
                                <!-- stoper-->
                                <img class="ukryj" ng-src="{{z1.zadanie_krotkie == '1' && 'images/icons/stoper-2.gif' || 'images/icons/stoper-1.gif'}}" ng-click="zmianaKrotkich(z1.zadanie_id)">
                        </div>
                                <!-- podpoziom -->
                
                                <div ng-hide="user.ukryj_poziomy === 3">
                                        <div ng-repeat="z2 in zadania | filter: {projekt_id: e.projekt_id} | filter: {zadanie_rodzic: z1.zadanie_id} | filter: {poziom: 1} | orderBy:'zadanie_kolejnosc'">
                                                        
                                        <div class="zadanie" ng-class="{alpha:$first, omega:$last}" data-zadanieid="{{z2.zadanie_id}}" data-poziom="{{z2.poziom}}" ng-click="edytujZadanie(z2.zadanie_id)">
                                                        
                                        <img ng-show="z2.zadanie_typrodzica=='r'" ng-src="{{z2.zadanie_stan == 1 && 'images/icons/r-zielone-zrobione.gif' || 'images/icons/r-szare.gif'}}" ng-click="zadanieZmianaStanu(z2.zadanie_id)">
                                
                                        <img ng-show="z2.zadanie_typrodzica=='s'" ng-src="{{z2.zadanie_stan == 1 && 'images/icons/s-zielone-zrobione.gif' || 'images/icons/s-szare.gif'}}" ng-click="zadanieZmianaStanu(z2.zadanie_id)">
                                
                                        
                                        <div style="display: inline-block">
                                                {{z2.zadanie_tresc}}
                                        </div>
                                        <div style="display: inline-block; position:absolute; right:0">
                                                <button class="akcja ukryj" ng-click="zadanieUsun(z2.zadanie_id)">
                                                                x
                                                        </button>
                                                <!-- stoper-->
                                                <img class="ukryj" ng-src="{{z2.zadanie_krotkie == '1' && 'images/icons/stoper-2.gif' || 'images/icons/stoper-1.gif'}}" ng-click="zmianaKrotkich(z2.zadanie_id)">
                                        </div>
                                        <!-- Podpoziom 2 -->



                                        
                                        <div ng-hide="user.ukryj_poziomy === 2">
                                                <div ng-repeat="z3 in zadania | filter: {projekt_id: e.projekt_id} | filter: {zadanie_rodzic: z2.zadanie_id} | filter: {poziom: 2} | orderBy:'zadanie_kolejnosc'">
                                                                
                                                <div class="zadanie" ng-class="{alpha:$first, omega:$last}" data-zadanieid="{{z3.zadanie_id}}" data-poziom="{{z3.poziom}}" ng-click="edytujZadanie(z3.zadanie_id)">
                                                                
                                                <img ng-show="z3.zadanie_typrodzica=='r'" ng-src="{{z3.zadanie_stan == 1 && 'images/icons/r-zielone-zrobione.gif' || 'images/icons/r-szare.gif'}}" ng-click="zadanieZmianaStanu(z3.zadanie_id)">
                                        
                                                <img ng-show="z3.zadanie_typrodzica=='s'" ng-src="{{z3.zadanie_stan == 1 && 'images/icons/s-zielone-zrobione.gif' || 'images/icons/s-szare.gif'}}" ng-click="zadanieZmianaStanu(z3.zadanie_id)">
                                        
                                                
                                                <div style="display: inline-block">
                                                        {{z3.zadanie_tresc}}
                                                </div>
                                                <div style="display: inline-block; position:absolute; right:0">
                                                        <button class="akcja ukryj" ng-click="zadanieUsun(z3.zadanie_id)">
                                                                        x
                                                                </button>
                                                        <!-- stoper-->
                                                        <img class="ukryj" ng-src="{{z3.zadanie_krotkie == '1' && 'images/icons/stoper-2.gif' || 'images/icons/stoper-1.gif'}}" ng-click="zmianaKrotkich(z3.zadanie_id)">
                                                </div>




                                                        <div ng-hide="user.ukryj_poziomy === 1">
                                                                <div ng-repeat="z4 in zadania | filter: {projekt_id: e.projekt_id} | filter: {zadanie_rodzic: z3.zadanie_id} | orderBy:'zadanie_kolejnosc'">
                                                                                
                                                                <div class="zadanie" ng-class="{alpha:$first, omega:$last}" data-zadanieid="{{z4.zadanie_id}}" data-poziom="{{z4.poziom}}" ng-click="edytujZadanie(z4.zadanie_id)">
                                                                                
                                                                <img ng-show="z4.zadanie_typrodzica=='r'" ng-src="{{z4.zadanie_stan == 1 && 'images/icons/r-zielone-zrobione.gif' || 'images/icons/r-szare.gif'}}" ng-click="zadanieZmianaStanu(z4.zadanie_id)">
                                                        
                                                                <img ng-show="z4.zadanie_typrodzica=='s'" ng-src="{{z4.zadanie_stan == 1 && 'images/icons/s-zielone-zrobione.gif' || 'images/icons/s-szare.gif'}}" ng-click="zadanieZmianaStanu(z4.zadanie_id)">
                                                        
                                                                
                                                                <div style="display: inline-block">
                                                                        {{z4.zadanie_tresc}}
                                                                </div>
                                                                <div style="display: inline-block; position:absolute; right:0">
                                                                        <button class="akcja ukryj" ng-click="zadanieUsun(z4.zadanie_id)">
                                                                                        x
                                                                                </button>
                                                                        <!-- stoper-->
                                                                        <img class="ukryj" ng-src="{{z4.zadanie_krotkie == '1' && 'images/icons/stoper-2.gif' || 'images/icons/stoper-1.gif'}}" ng-click="zmianaKrotkich(z4.zadanie_id)">
                                                                </div>
                                                        </div>
                                                
                                                         <!-- podpoziom - koniec-->
                                                </div>

                                        </div>


                                                </div>
                                        
                                                 <!-- podpoziom - koniec-->
                                        </div>

                                </div>


                                </div>
                        
                                 <!-- podpoziom - koniec-->
                        </div>

                </div>
                                <!-- 1. poziom zadan-->
                </div>

        </div><!-- koniec repeatów --> 
        
<div class="ukryj">
        <zadanie-nowe class="ukryj"></zadanie-nowe>
</div>


<!-- 1. podpoziom koniec-->

















</div>


<button class="akcja" ng-click="zamknijEdycje()">Zamknij</button>