<div class="blok projekt static">
    
        <input type="text" id="nowa-tablica-nazwa" style="height: 33px; font-size: 16px; color: grey;
        font-family: 'Roboto Slab', serif; width: 245px" placeholder="Nowa tablica" id="tablicaNazwa">
        <input type="textarea" id="nowa-tablica-opis" placeholder="Opis" id="tablicaOpis" style="width: 245px">

        <p>
            
        </p>
    <!--
    <p>
        Kolor:
        <input type="color" id="kolor">
    </p>
    -->
        <div class="doprawej">
            <img src="images/icons/dodaj.gif" ng-click="tablicaDodaj()">
        </div>
    </div>