<div class="blok projekt static">
<!--
    <a ng-href="#!t/{{t.tablica_id}}" ng-click="routingowa(t.tablica_id)">
    -->
    <a ng-href="#!t/{{t.tablica_id}}">
    <span  class="projekt-tytul"> {{t.tablica_nazwa}}</span>
    </a>

    <div class="ukryj doprawej">
    <img ng-src="{{t.tablica_priorytet == '1' && 'images/icons/priorytet-tak.gif' || 'images/icons/priorytet-nie.gif'}}" ng-click="zmienPriorytetTablicy(t.tablica_id)">
    <br>
    <img src="images/icons/opcje-2.gif" ng-click="tablicaUsun(t.tablica_id)">
    </div>
        <p>
            {{t.tablica_opis}}
        </p>
    </div>
