
<div class="zadanie" ng-class="{alpha:$first, omega:$last}" data-zadanieid="{{z2.zadanie_id}}" data-poziom="{{z2.poziom}}" ng-click="edytujZadanie(z2.zadanie_id)">
        
            <img ng-show="z2.zadanie_typrodzica=='r'" ng-src="{{z2.zadanie_stan == 1 && 'images/icons/r-zielone-zrobione.gif' || 'images/icons/r-szare.gif'}}" ng-click="zadanieZmianaStanu(z2.zadanie_id)">
        
            <img ng-show="z2.zadanie_typrodzica=='s'" ng-src="{{z2.zadanie_stan == 1 && 'images/icons/s-zielone-zrobione.gif' || 'images/icons/s-szare.gif'}}" ng-click="zadanieZmianaStanu(z2.zadanie_id)">
        
            
            <div style="display: inline-block">
                {{z2.zadanie_tresc}}
            </div>
            <div style="display: inline-block; position:absolute; right:0">
                <button class="akcja ukryj" ng-click="zadanieUsun(z2.zadanie_id)">
                        x
                    </button>
                <!-- stoper-->
                <img class="ukryj" ng-src="{{z2.zadanie_krotkie == '1' && 'images/icons/stoper-2.gif' || 'images/icons/stoper-1.gif'}}" ng-click="zmianaKrotkich(z2.zadanie_id)">
            </div>
        
        </div>