
<div class="zadanie" ng-class="{alpha:$first, omega:$last}" data-zadanieid="{{z.zadanie_id}}" data-poziom="{{z.poziom}}" ng-click="edytujZadanie(z.zadanie_id)">

    <div style="display: inline-block">
        Dodaj zadanie
    </div>
    <div style="display: inline-block; position:absolute; right:0">
        <button class="akcja ukryj" ng-click="zadanieUsun(z.zadanie_id)">
                +
            </button>
    </div>
</div>