<div class="tablica-tytul">
        <h3>
            Przegląd
        </h3>
    </div>
<hr>
    <div>
        <!-- Projekty razem -->
        <div id="osobne_priorytety">
                <!-- Priorytety -->
            <div ng-if="user.priorytety_osobno" id="projekty" class="tablica" ng-class="user.priorytety_orientacja">
                <div class="osobno">
                <div class="naglowek">Projekty z terminami</div>

                <div ng-class="user.projekty_orientacja">
    
                        
                        <div ng-repeat="p in projekty | filter: {tablica_id: 1} | filter: {projekt_termin: ''}" style="display:block" >
    
                            <!-- Projekt - poziom glowny -->
    
                            <projekt>Projekty razem</projekt>
                            <!-- koniec poziomu glownego -->
            
                        </div>
                        
                    </div><!-- tablica -->
                </div>
                <div>
                    <div class="naglowek">Krótkie zadania</div>
                    
                        <div ng-class="user.projekty_orientacja">
    
                            <div ng-repeat="p in projekty | filter: {tablica_id: 1} | filter: {projekt_priorytet: 0}" style="display:block">
    
                                <projekt>Projekty razem</projekt>
                                
                                <!-- koniec poziomu 1 -->
                            </div>
                        </div>
                    </div>
    
                </div>
            </div>
        
        
            <!-- Projekty razem -->
            <div ng-hide="user.priorytety_osobno" >
                    <div class="naglowek">Projekty</div>
                    <div class="tablica" ng-class="user.projekty_orientacja">
                        
                        <div ng-repeat="p in projekty | filter: {tablica_id: 1}" style="display:block">
    
                            <projekt>Projekty razem</projekt>
                        </div>
                </div><!-- tablica -->
    
    
    
                
            </div>
    </div>
    
    