<div class="tablica-tytul">
    <h3>
        {{aktualnaTablica}}
    </h3>
</div>

<div style="flex-direction: row">
<div class="tablica">
    <div ng-repeat="p in projekty" style="display:block">

        <div class="blok projekt" ng-class="{alpha:$first, omega:$last}" data-projektid="{{p.projekt_id}}" ng-click="edytujProjekt(p.projekt_id)" ng-mouseenter="pokazAkcje(p.projekt_id)">


            <input type="checkbox" value="{{p.projekt_stan}}">
            <span  class="projekt-tytul"> {{p.projekt_tresc}}</span>
            <img class="ukryj" ng-src="{{p.projekt_priorytet == '1' && 'images/icons/priorytet-tak.gif' || 'images/icons/priorytet-nie.gif'}}" ng-click="zmienPriorytet(p.projekt_id)">
            <button class="akcja ukryj" >
                edytuj
            </button>
            <button class="akcja ukryj" ng-click="projektUsun(p.projekt_id)">
                usun
            </button>
            <button class="akcja ukryj" >
                    zakoncz
                </button>
            <button class="akcja ukryj" ng-click="projektTypDzieci(p.projekt_id)">
                    dzieci
                </button>
            <hr>
            <div>
                <p>
                    <div ng-repeat="z in zadania | filter: {projekt_id: p.projekt_id} | filter: {zadanie_rodzic: 0} | orderBy:'zadanie_kolejnosc'">
                    <div class="zadanie" ng-class="{alpha:$first, omega:$last}" data-zadanieid="{{z.zadanie_id}}" ng-click="edytujZadanie(z.zadanie_id)">

                        <img ng-show="z.zadanie_typdzieci=='r'" ng-src="{{z.zadanie_stan == 1 && 'images/icons/r-zielone-zrobione.gif' || 'images/icons/r-szare.gif'}}">

                        <img ng-show="z.zadanie_typdzieci=='s'" ng-src="{{z.zadanie_stan == 1 && 'images/icons/s-zielone-zrobione.gif' || 'images/icons/s-szare.gif'}}">

                        
                        <input type="text" value="{{z.zadanie_tresc}}">
                        <button class="akcja ukryj" ng-click="zadanieUsun(z.zadanie_id)">
                                x
                            </button>

                        <!-- stoper-->
                        <img class="ukryj" ng-src="{{z.zadanie_krotkie == '1' && 'images/icons/stoper-2.gif' || 'images/icons/stoper-1.gif'}}" ng-click="zmianaKrotkich(z.zadanie_id)">

                        <br>
                        <!-- poziom1 start-->
                        <div class="poziom1" ng-repeat="z in zadania | filter: {projekt_id: p.projekt_id} | filter: {zadanie_rodzic: z.zadanie_id} | orderBy:'zadanie_kolejnosc'">
                            
                            <div class="zadanie" ng-class="{alpha:$first, omega:$last}">

                                <img ng-show="z.zadanie_typdzieci=='r'" ng-src="{{z.zadanie_stan == 1 && 'images/icons/r-zielone-zrobione.gif' || 'images/icons/r-szare.gif'}}">

                                <img ng-show="z.zadanie_typdzieci=='s'" ng-src="{{z.zadanie_stan == 1 && 'images/icons/s-zielone-zrobione.gif' || 'images/icons/s-szare.gif'}}">


                                
                                <input type="text" value="{{z.zadanie_tresc}}">
                                <button class="akcja ukryj" ng-click="zadanieUsun(z.zadanie_id)">
                                        x
                                    </button>
                                <br>
                                    <!-- poziom2 start-->
                                    <div class="poziom2" ng-repeat="z in zadania | filter: {projekt_id: p.projekt_id} | filter: {zadanie_rodzic: z.zadanie_id} | orderBy:'zadanie_kolejnosc'">


                                        <div class="zadanie" ng-class="{alpha:$first, omega:$last}">
                                            
                                                <img ng-show="z.zadanie_typdzieci=='r'" ng-src="{{z.zadanie_stan == 1 && 'images/icons/r-zielone-zrobione.gif' || 'images/icons/r-szare.gif'}}">
                                                
                                                <img ng-show="z.zadanie_typdzieci=='s'" ng-src="{{z.zadanie_stan == 1 && 'images/icons/s-zielone-zrobione.gif' || 'images/icons/s-szare.gif'}}">
                                                

                                            <input type="text" value="{{z.zadanie_tresc}}">
                                            <button class="akcja ukryj" ng-click="zadanieUsun(z.zadanie_id)">
                                                    x
                                                </button>

                                    <!-- poziom2 start-->
                                    <div class="poziom2" ng-repeat="z in zadania | filter: {projekt_id: p.projekt_id} | filter: {zadanie_rodzic: z.zadanie_id} | orderBy:'zadanie_kolejnosc'">


                                        <div class="zadanie" ng-class="{alpha:$first, omega:$last}">
                                            
                                                <img ng-show="z.zadanie_typdzieci=='r'" ng-src="{{z.zadanie_stan == 1 && 'images/icons/r-zielone-zrobione.gif' || 'images/icons/r-szare.gif'}}">
                                                
                                                <img ng-show="z.zadanie_typdzieci=='s'" ng-src="{{z.zadanie_stan == 1 && 'images/icons/s-zielone-zrobione.gif' || 'images/icons/s-szare.gif'}}">
                                                

                                            <input type="text" value="{{z.zadanie_tresc}}">
                                            <button class="akcja ukryj" ng-click="zadanieUsun(z.zadanie_id)">
                                                    x
                                                </button>

                                    <!-- poziom2 start-->
                                    <div class="poziom2" ng-repeat="z in zadania | filter: {projekt_id: p.projekt_id} | filter: {zadanie_rodzic: z.zadanie_id} | orderBy:'zadanie_kolejnosc'">


                                        <div class="zadanie" ng-class="{alpha:$first, omega:$last}">
                                            
                                                <img ng-show="z.zadanie_typdzieci=='r'" ng-src="{{z.zadanie_stan == 1 && 'images/icons/r-zielone-zrobione.gif' || 'images/icons/r-szare.gif'}}">
                                                
                                                <img ng-show="z.zadanie_typdzieci=='s'" ng-src="{{z.zadanie_stan == 1 && 'images/icons/s-zielone-zrobione.gif' || 'images/icons/s-szare.gif'}}">
                                                

                                            <input type="text" value="{{z.zadanie_tresc}}">
                                            <button class="akcja ukryj" ng-click="zadanieUsun(z.zadanie_id)">
                                                    x
                                                </button>
                                                


                                                
                                        </div>
                                        <br>
                                        <!-- dodawanie --> 
                                            <div class="zadanie" ng-class="{alpha:$first, omega:$last}" ng-if="$last">
                                                <input type="text" placeholder="Dodaj zadanie">
                                                <button>+</button>
                                        </div>
                                    </div>
                                    <!-- poziom2 end-->

                                                
                                        </div>
                                        <br>
                                        <!-- dodawanie --> 
                                            <div class="zadanie" ng-class="{alpha:$first, omega:$last}" ng-if="$last">
                                                <input type="text" placeholder="Dodaj zadanie">
                                                <button>+</button>
                                        </div>

                                        
                                    </div>
                                    <!-- poziom2 end-->

                                                
                                        </div>
                                        <br>
                                        <!-- dodawanie --> 
                                            <div class="zadanie" ng-class="{alpha:$first, omega:$last}" ng-if="$last">
                                                <input type="text" placeholder="Dodaj zadanie">
                                                <button>+</button>
                                        </div>
                                    </div>
                                    <!-- poziom2 end-->

                            </div>

                            <br>
                            <!-- dodawanie --> 
                                <div class="zadanie" ng-class="{alpha:$first, omega:$last}" ng-if="$last">
                                    <input type="text" placeholder="Dodaj zadanie">
                                    <button>+</button>
                            </div>
                        </div>
                        <!-- poziom1 end-->

                    </div>
                    <br> 
                    <!-- dodawanie -->
                    <div class="zadanie" ng-class="{alpha:$first, omega:$last}" ng-if="$last">
                        <input type="text" placeholder="Dodaj zadanie">
                        <button>+</button>
                    </div>
                    </div>
                </p>
            </div>

        </div>
        
        <br>
        <!-- dodawanie -->
        <div class="blok projekt" ng-class="{alpha:$first, omega:$last}" ng-if="$last">
            <input type="text" placeholder="Dodaj projekt">
            <button>e</button>
            <br>
            <input type="textarea">
            <button>+</button>
        </div>
    </div>
</div><!-- tablica -->
</div>

