

<div class="tablica-tytul">
    <h3>
        {{aktualnaTablica}}
    </h3>
</div>

<div>
    <!-- Projekty razem -->
    <div id="osobne_priorytety">
            <!-- Priorytety -->
        <div ng-if="user.priorytety_osobno" id="projekty" class="tablica" ng-class="user.priorytety_orientacja">
            <div>
            Projekty priorytetowe
            <hr>
            <div ng-class="user.projekty_orientacja">

                    
                    <div ng-repeat="p in projekty | filter: {tablica_id: 1} | filter: {projekt_priorytet: 1}" style="display:block" >

                        <!-- Projekt - poziom glowny -->

                        <div class="blok projekt" ng-class="{alpha:$first, omega:$last}" data-projektid="{{p.projekt_id}}" ng-click="edytujProjekt(p.projekt_id)" ng-mouseenter="pokazAkcje(p.projekt_id)">   
                        <span  class="projekt-tytul"> {{p.projekt_tresc}}</span>
                        <img class="ukryj" ng-src="{{p.projekt_priorytet == '1' && 'images/icons/priorytet-tak.gif' || 'images/icons/priorytet-nie.gif'}}" ng-click="zmienPriorytet(p.projekt_id)">
                                
                        <br>

                        <button class="akcja ukryj" ng-click="modal(p.projekt_id)">
                            edytuj
                        </button>
                        <button class="akcja ukryj" ng-click="projektUsun(p.projekt_id)">
                            usun
                        </button>
                        <button class="akcja ukryj" >
                                zakoncz
                            </button>
                        <button class="akcja ukryj" ng-click="projektTypDzieci(p.projekt_id)">
                                dzieci
                            </button>
                
                        <!-- Progressbar-->
                
                        <div class="postep">
                            <div class="procent" style="width: {{p.liczba_zadan_skonczonych / p.liczba_zadan*100}}%">
                                
                            </div>
                        </div>
                
                        <!-- 1. poziom zadan -->
                
                        <div ng-repeat="z1 in zadania | filter: {projekt_id: p.projekt_id} | filter: {zadanie_rodzic: 0} | orderBy:'zadanie_kolejnosc'">
                                
                                <div class="zadanie" ng-class="{alpha:$first, omega:$last}" data-zadanieid="{{z1.zadanie_id}}" data-poziom="{{z1.poziom}}" ng-click="edytujZadanie(z1.zadanie_id)">
                                        
                                    <img ng-show="z1.zadanie_typrodzica=='r'" ng-src="{{z1.zadanie_stan == 1 && 'images/icons/r-zielone-zrobione.gif' || 'images/icons/r-szare.gif'}}" ng-click="zadanieZmianaStanu(z1.zadanie_id)">
                                
                                    <img ng-show="z1.zadanie_typrodzica=='s'" ng-src="{{z1.zadanie_stan == 1 && 'images/icons/s-zielone-zrobione.gif' || 'images/icons/s-szare.gif'}}" ng-click="zadanieZmianaStanu(z1.zadanie_id)">
                                
                                    
                                    <div style="display: inline-block">
                                        {{z1.zadanie_tresc}}
                                    </div>
                                    <div style="display: inline-block; position:absolute; right:0">
                                        <button class="akcja ukryj" ng-click="zadanieUsun(z1.zadanie_id)">
                                                x
                                            </button>
                                        <!-- stoper-->
                                        <img class="ukryj" ng-src="{{z1.zadanie_krotkie == '1' && 'images/icons/stoper-2.gif' || 'images/icons/stoper-1.gif'}}" ng-click="zmianaKrotkich(z1.zadanie_id)">
                                    </div>
                                        <!-- podpoziom -->
                                
                                        <div ng-hide="user.pokaz_kolejne">
                                            <div ng-repeat="z2 in zadania | filter: {projekt_id: p.projekt_id} | filter: {zadanie_rodzic: z1.zadanie_id} | filter: {poziom: 1} | orderBy:'zadanie_kolejnosc'">
                                                    
                                            <div class="zadanie" ng-class="{alpha:$first, omega:$last}" data-zadanieid="{{z2.zadanie_id}}" data-poziom="{{z2.poziom}}" ng-click="edytujZadanie(z2.zadanie_id)">
                                                    
                                            <img ng-show="z2.zadanie_typrodzica=='r'" ng-src="{{z2.zadanie_stan == 1 && 'images/icons/r-zielone-zrobione.gif' || 'images/icons/r-szare.gif'}}" ng-click="zadanieZmianaStanu(z2.zadanie_id)">
                                        
                                            <img ng-show="z2.zadanie_typrodzica=='s'" ng-src="{{z2.zadanie_stan == 1 && 'images/icons/s-zielone-zrobione.gif' || 'images/icons/s-szare.gif'}}" ng-click="zadanieZmianaStanu(z2.zadanie_id)">
                                        
                                            
                                            <div style="display: inline-block">
                                                {{z2.zadanie_tresc}}
                                            </div>
                                            <div style="display: inline-block; position:absolute; right:0">
                                                <button class="akcja ukryj" ng-click="zadanieUsun(z2.zadanie_id)">
                                                        x
                                                    </button>
                                                <!-- stoper-->
                                                <img class="ukryj" ng-src="{{z2.zadanie_krotkie == '1' && 'images/icons/stoper-2.gif' || 'images/icons/stoper-1.gif'}}" ng-click="zmianaKrotkich(z2.zadanie_id)">
                                            </div>
                                        </div>
                                    
                                         <!-- podpoziom - koniec-->
                                    </div>
    
                                </div>
                                        <!-- 1. poziom zadan-->
                                </div>

                            </div>
                        <div class="ukryj">
                            <zadanie-nowe class="ukryj"></zadanie-nowe>
                        </div>


                        <!-- 1. podpoziom koniec-->
                        </div>
                        <!-- koniec poziomu glownego -->
        
                    </div>
                    
                </div><!-- tablica -->
            </div>
            <div>
                Projekty zwykłe
                <hr>
                
                    <div ng-class="user.projekty_orientacja">

                        <div ng-repeat="p in projekty | filter: {tablica_id: 1} | filter: {projekt_priorytet: 0}" style="display:block">

                            <!-- Projekt - poziom 1 -->

                            <div class="blok projekt" ng-class="{alpha:$first, omega:$last}" data-projektid="{{p.projekt_id}}" ng-click="edytujProjekt(p.projekt_id)" ng-mouseenter="pokazAkcje(p.projekt_id)">   
                            <span  class="projekt-tytul"> {{p.projekt_tresc}}</span>
                            <img class="ukryj" ng-src="{{p.projekt_priorytet == '1' && 'images/icons/priorytet-tak.gif' || 'images/icons/priorytet-nie.gif'}}" ng-click="zmienPriorytet(p.projekt_id)">
                                    

                            </div>
                            <!-- koniec poziomu 1 -->
                        </div>
                    </div>
                </div>

            </div>
        </div>
    
    
        <!-- Projekty razem -->
        <div ng-hide="user.priorytety_osobno" >
                Projekty
                <hr>
                <div class="tablica" ng-class="user.projekty_orientacja">
                    
                    <div ng-repeat="p in projekty | filter: {tablica_id: 1}" style="display:block">

                        <!-- Projekt - poziom 1 -->

                        <div class="blok projekt" ng-class="{alpha:$first, omega:$last}" data-projektid="{{p.projekt_id}}" ng-click="edytujProjekt(p.projekt_id)" ng-mouseenter="pokazAkcje(p.projekt_id)">   
                                <span  class="projekt-tytul"> {{p.projekt_tresc}}</span>
                                <img class="ukryj" ng-src="{{p.projekt_priorytet == '1' && 'images/icons/priorytet-tak.gif' || 'images/icons/priorytet-nie.gif'}}" ng-click="zmienPriorytet(p.projekt_id)">
                                        
        
                                </div>
                                <!-- koniec poziomu 1 -->
                    </div>
            </div><!-- tablica -->
        </div>
</div>

