<h1>
    Metodyka
</h1>

Trzy podstawowe cele:
<ol>
    <li>
        Uchwycenie wszystkich spraw, które muszą być zrealizowane lub są przydatne - natychmiast, całościowo, w niewielkim stopniu czy w jakikolwiek inny sposób - w ramy logicznego i niezawodnego systemu nieobciążającego głowy i odciążającego myśli.
        </li>
    <li>
        Ukierunkowanie Cię w taki sposób, abyś podejmował wstępne decyzje, dotyczące każdej z tych spraw, po to, abyś zawsze miał wykaz "najbliższych działań", które w każdej chwili możesz podjąć lub przeprojektować.
        </li>
    <li>
        Wyselekcjonowanie i skoordynowanie tego wszystkiego ze zobowiązaniami wobec siebie i innych, które wcześnie czy później trzeba będzie wypełnić.
        </li>
</ol>

<sub>
    Źródło: GTD, strona 36
</sub>