<div class="tablica-tytul">
		<h3>
			Tablice
		</h3>
	</div>

	<div>
			<!-- Tablice osobno -->
			<div id="osobne_priorytety">
					<!-- Priorytety -->
				<div ng-if="user.priorytety_osobno" id="projekty" class="tablica" ng-class="user.priorytety_orientacja">
					<div class="osobno">
					<div class="naglowek">Tablice priorytetowe</div>  
		
					<div ng-class="user.projekty_orientacja">
		
							
							<div ng-repeat="t in taby | filter: {tablica_priorytet: 1}" style="display:block" >
		
								<!-- Projekt - poziom glowny -->
		
								<tablica>Miejsce na tablice</tablica>
								<!-- koniec poziomu glownego -->
				
							</div>
							
						</div><!-- tablica -->
					</div>
					<div ng-hide="user.ukryj_niepriorytetowe">
						<div class="naglowek">Tablice</div> 
		
						
							<div ng-class="user.projekty_orientacja">
		
								<div ng-repeat="t in taby | filter: {tablica_priorytet: 0}" style="display:block">
		
									<tablica>Miejsce na tablice</tablica>
									
									<!-- koniec poziomu 1 -->
								</div>
								<tablica-nowa class="ukryj">x</tablica-nowa>
							</div>
						</div>
		
					</div>
				</div>
			
			
				<!-- Projekty razem -->
				<div ng-hide="user.priorytety_osobno" >
						<div class="naglowek">&nbsp;</div>
		
						<div class="tablica" ng-class="user.projekty_orientacja">
							
							<div ng-repeat="t in taby" style="display:block">
		
								<tablica>Miejsce na tablice</tablica>
							</div>
								<tablica-nowa class="ukryj">x</tablica-nowa>
					</div><!-- tablica -->
		
		
				</div>
		</div>
		
		
